@import "bootstrap";
@import "values";

$width-nav: 220px;
$width-aside: 300px;

@mixin layout {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;

  & > {
    .body {
      display: flex;
      flex: 1;
      flex-direction: column;
      position: relative;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }

      & > {
        .nav {
          order: 1;
          overflow-y: auto;
          -webkit-user-select: none;
          user-select: none;

          @include media-breakpoint-up(md) {
            flex: 0 0 $width-nav;
          }
        }

        .aside {
          //flex: 0 0 $width-aside;
          display: none;
          order: 3;
          overflow-y: auto;
          -webkit-user-select: none;
          user-select: none;

          width: $width-aside;
          position: absolute;
          right: 0;
        }

        .main {
          display: flex;
          flex: 1;
          flex-direction: column;
          order: 2;
        }
      }
    }
  }
}

@mixin header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;

  & > div {
    display: flex;
    align-items: center;

    > .header--item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 16px;
      min-height: 16px;
    }
  }

  &--logo {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &--navIcon, &--toolbar {
    > div {
      justify-content: center;
    }
  }

  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;

    &--navIcon {
      display: none !important;
    }

    &--logo {
      padding-left: 8px;
    }

    &--toolbar {
      padding-left: 12px;
      padding-right: 12px;

      > .header--item {
        display: flex;
        flex: 1;
      }
    }
  }
}

@mixin headerEffect {
  .dropdown {
    position: relative;
    user-select: none;

    > input[type="checkbox"] {
      display: none;
      @include media-breakpoint-down(md) {
        &:checked + .dropdown--menu {
          display: block;
        }
      }
    }

    @include media-breakpoint-up(md) {
      &:hover > .dropdown--menu {
        display: block;
      }
    }

    &--menu {
      background-color: #fff;
      box-shadow: 0 0 10px 1px rgba(0,0,0,.15);
      display: none;
      position: absolute;
      top: 1.5rem;
      right: 0;
      z-index: 1;

      ul, ol {
        list-style: none;
        margin: 0.5rem 1rem;
        padding: 0;

        > li {
          margin-bottom: 0.5rem;
          white-space: nowrap;

          a {
            display: block;
          }
        }
      }
    }
  }
}

@mixin navEffect {
  .header {
    &--navIcon {
      .status {
        &-open {
          display: none;
        }
        &-close {
          display: block;
        }
      }
    }
  }

  .nav {
    &--main {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }

      &.transition--open {
        display: block;
      }

      &.transition--close {
        display: none;
        //height: 0;

        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }
  }
}

@mixin nav {
  input[type="checkbox"] {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      label {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        padding: 0.5rem 1rem;
      }
      & > ul {
        display: none;

        a {
          padding: 0.3rem 1rem;
        }
      }
    }
  }

  .accordion {
    padding: 1rem 0;
    width: 100%;
  }

  &--main {
    background-color: #f0f2f8;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;

    a {
      display: block;
    }
  }
}

@mixin main {
  padding: 1rem;
}

@mixin footer {
  padding: .5rem;
}

@mixin devBanner {
  background-color: $main-color;
  color: #fff;
  font-size: .8rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0 8px 1px;
  user-select: none;
}

.html {
  @include layout;
  @include navEffect;

  .header {
    @include header;
    @include headerEffect
  }

  .nav {
    @include nav;

    [value="Administrator"]:checked ~ .accordion [for="Administrator"] {
      & > svg {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      & + ul {
        display: block;
      }
    }
  }

  .main {
    @include main;
  }

  .footer {
    @include footer;
  }

  .devBanner {
    @include devBanner
  }
}
