@import "bootstrap";

@import "values";

// Components
@import "component-hyper-responsive-table";
@import "component-paginator";

// Templates
@import "template-html";
@import "template-login";

// global
body {
  &[data-auth] {
    background-color: $main-color;
  }
}

a {
  color: $main-color;
  text-decoration: none;
}
