@import "bootstrap";
@import "root";

// Components
@import "component-dialog";
@import "component-hyper-responsive-table";
@import "component-paginator";
@import "component-select-all";

// Templates
@import "template-html";
@import "template-login";

// global
body {
  &[data-auth] {
    background-color: var(--cp-main-color);
  }
}

a {
  color: var(--cp-main-color);
  text-decoration: none;
}
