<div>
    <h2><%= t('media:folders') %></h2>
    <div class="row g-3">
        <%- include('./media-library-folders-folder', {
            folderName: 'Folder Name A',
            folders: 0,
            assets: 0,
        }) %>
    </div>
</div>
